<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <img src="~/images/banner625.png" />
    <div class="body-content">
        <div class="row">
            <div class="col">
                <div class="inline-list">
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
        <div class="container body-content">
            <div class="row">
                <div class="col-md-3">
                    <nav class="navbar navbar-default sidebar" role="navigation">
                        <div class="container-fluid">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                            <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
                                <ul class="nav navbar-nav">
                                    <li class="active"><a href="#">Home<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-home"></span></a></li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Request's <span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-user"></span></a>
                                        <ul class="dropdown-menu forAnimate" role="menu">
                                            <li><a href="/Student/">All</a></li>
                                            <li><a href="/Student/Approved">Approved</a></li>
                                            <li><a href="/Student/Rejected">Rejected</a></li>
                                            <li><a href="/Student/InProgress">In-Progress</a></li>
                                        </ul>
                                    <li><a href="#">Drafts<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-th-list"></span></a></li>
                                    <li><a href="#">Trash<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-tags"></span></a></li>
                                </ul>
                            </div>
                        </div>
                    </nav>

                </div>
                <div class="col-md-9">
                    <div class="row btn-group" style=" padding-bottom: 10px;">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <span class="glyphicon glyphicon-plus"> Request </span>
                        </button>
                        <ul class="dropdown-menu pull-right" role="menu">
                            <li><a href="/Forms/CourseRegCreate">Course Registration</a></li>
                            <li><a href="/Forms/SuspendSemesterCreate">Suspend Semester</a></li>
                            <li><a href="/Forms/SuspendSubjectCreate">Suspend Subject</a></li>
                            <li><a href="/Forms/RequestCreate">General Request</a></li>
                            <li><a href="/Forms/DropOutCreate">Drop Out</a></li>
                            <li><a href="#">Form 6</a></li>
                            <li><a href="#">Form 7</a></li>
                            <li><a href="#">Form 8</a></li>
                            <li><a href="#">Form 9</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Trash</a></li>
                        </ul>
                    </div>
                    <div class="row" style="background-color:#dedede;padding-left:10px;">
                        @RenderBody()
                    </div>
                </div>
                <hr />
                <footer>
                    <p>&copy; @DateTime.Now.Year -FU Online Student Service Application</p>
                </footer>
            </div>
            @Scripts.Render("~/bundles/jquery")
            @Scripts.Render("~/bundles/bootstrap")
            @RenderSection("scripts", required: false)
        </div>
    </div>
</body>
</html>
