@model PagedList.IPagedList<FPT_OnlineService.Models.Form>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}
<h2>New</h2>


<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("S/N ")
            </th>
            <th>
                @Html.DisplayName("Form Details")
            </th>
            <th>
                @Html.DisplayName("Form Status")
            </th>
            <th>
                @Html.ActionLink("Date", "New", new { sortOrder = ViewBag.DateSortParm })
            </th>
            <th></th>
        </tr>
    </thead>
    @{int i = 1;
    string date = "";
    DateTime today = DateTime.Now;
    }
    @foreach (var item in Model)
    {
        string count = i + " ";
        if (item.StudentRollNo.Equals(FPT_OnlineService.DAL.UserInfo.Username) && item.Status.Equals("New"))
        {
            date = FPT_OnlineService.Helper.Help.GetDate(item.Date);
            <tbody>
                <tr>
                    <td>
                        @Html.DisplayName(count)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FormDetails)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.DisplayName(date)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", "Forms", new { id = item.ID }, null)|
                        @Html.ActionLink("Details", "Details", "Forms", new { id = item.ID }, null)|
                        @Html.ActionLink("Delete", "Delete", "Forms", new { id = item.ID }, null)
                    </td>
                </tr>
            </tbody>
            i++;
        }
    }
</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("New",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
