@model FPT_OnlineService.Models.DropOutForm
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_StaffLayout.cshtml";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    @using(Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="">
        <h4 class="h4">Drop Out Endorsement Form.</h4>
        <hr />
        <dl class="dl-horizontal">            
            @Html.HiddenFor(model => model.FormID)
            <dt>
                @Html.DisplayNameFor(model => model.Form.Type)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Form.Type)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Class)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Class)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MethodPayment)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MethodPayment)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DropOutDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DropOutDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Reason)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Reason)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Form.EndorsedBy)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Form.EndorsedBy)
            </dd>
        </dl>
    </div>
    <p>
        @if (!FPT_OnlineService.DAL.UserInfo.Username.Equals(null))
        {
            if (FPT_OnlineService.DAL.UserInfo.Role.Equals("Student"))
            {
                @Html.ActionLink("Edit", "Edit","Forms", new { id = Model.FormID }) @:&nbsp;
                @Html.ActionLink("Back to List", "Index", "Student")
            }
            else if (FPT_OnlineService.DAL.UserInfo.Role.Contains("Staff"))
            {
                    <div class="form-horizontal">
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.Label("Submitted A week before :", htmlAttributes: new { @class = "control-label col-md-2 required" })
                            <div class="col-md-10">
                                <input type="checkbox" name="IsWeekBefore" checked="checked"/>
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.LibraryStatus, htmlAttributes: new { @class = "control-label col-md-2 required" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.LibraryStatus, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.AccountStatus, htmlAttributes: new { @class = "control-label col-md-2 required" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.AccountStatus, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.AcademicHeadEndorse, htmlAttributes: new { @class = "control-label col-md-2 required" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.AcademicHeadEndorse, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label( "Approve/Reject :", htmlAttributes: new { @class = "control-label col-md-2 required" })
                            <div class="col-md-10">
                                <select class="form-control" id="FormStatus" name="FormStatus">
                                    <option value="Rejected">Reject</option>
                                    <option value="Approved">Approve</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Endorse" class="btn btn-default" />
                        </div>
                    </div>
                @Html.ActionLink("Forward", "Forward", "Staff", new { id = Model.FormID }) @:&nbsp;
                @Html.ActionLink("Reject", "Reject", "Staff", new { id = Model.FormID }) @:&nbsp;
                @Html.ActionLink("Approve", "Approve", "Staff", new { id = Model.FormID }) @:&nbsp;
                @Html.ActionLink("Back to List", "Index", "Staff")
            }
        }
</p>
    }
</body>
</html>
