@model PagedList.IPagedList<FPT_OnlineService.Models.Form>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "In Progress";
    Layout = "~/Views/Shared/_StaffLayout.cshtml";
}

<h2>In Progress</h2>


@using (Html.BeginForm("InProgress", "Staff", FormMethod.Get))
{
    <p class="h4">
        Find by student rollno: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input class="btn btn-default" type="submit" value="Search" />
    </p>
}

<table class="table table-hover">
    <thead>
    <tr>
        <th>
            @Html.DisplayName("S/N ")
        </th>
        <th>
            @Html.DisplayName("Form Details")
        </th>
        <th>
            @Html.DisplayName("Student RollNo")
        </th>
        <th>
            @Html.DisplayName("Form Status")
        </th>
        <th>
            @Html.ActionLink("Date", "Index", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th></th>
    </tr>
</thead>    @{int i = 1;
string date = "";
DateTime today = DateTime.Now;}
@foreach (var item in Model)
{
    date = FPT_OnlineService.Helper.Help.GetDate(item.Date);
    if (item.Status.Equals("Inprogress") && item.Flow.Contains(FPT_OnlineService.DAL.UserInfo.Role))
    {
        string count = i + " ";
            <tbody>
            <tr>
                <td>
                    @Html.DisplayName(count)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FormDetails)
                </td>
                <td>
                    @Html.DisplayFor(modelItem =>item.StudentRollNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayName(date)
                </td>
                @if (item.CurrentDesk.Equals(FPT_OnlineService.DAL.UserInfo.Role))
                {
                    <td>
                        @Html.ActionLink("Form Details", "StaffEndorsement", "Staff", new { id = item.ID }, null)
                    </td>
                }
                else
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.CurrentDesk)
                    </td>
                }
            </tr>
                </tbody>
        }
    }
</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("InProgress",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

