@model IEnumerable<FPT_OnlineService.Models.Form>

@{
    ViewBag.Title = "Rejected";
    Layout = "~/Views/Shared/_StaffLayout.cshtml";
}

<h2>Rejected</h2>

@using (Html.BeginForm())
{
    <p class="h4">
        Find by student rollno: @Html.TextBox("SearchString")
        <input class="btn btn-default" type="submit" value="Search" />
    </p>
}

<table class="table table-hover">
    <thead>
    <tr>
        <th>
            @Html.ActionLink("Form Type", "Index", new { sortOrder = ViewBag.TypeSortParm })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RollNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.ActionLink("Submission Date", "Index", new { sortOrder = ViewBag.DateSortParm })
        </th>
        <th></th>
    </tr>
        </thead>
    @foreach (var item in Model)
    {
        if (item.Status.Equals("Rejected"))
        {
            <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RollNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.ActionLink("Form Details", "StaffEndorsement", "Staff", new { id = item.ID }, null)
                </td>
            </tr>
                </tbody>
        }
    }
</table>
