@model FPT_OnlineService.Models.RequestForm
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_StaffLayout.cshtml";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="">
            <h4 class="h4">General Request Form.</h4>
            <hr />
            <dl class="dl-horizontal">
                @Html.HiddenFor(model => model.FormID)
                <dt>
                    @Html.DisplayNameFor(model => model.Form.Type)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Form.Type)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.RequestTitle)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.RequestTitle)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Form.StudentPhone)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Form.StudentPhone)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Class)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Class)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Description)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ProcessedBy)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ProcessedBy)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Form.ApprovalBy)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Form.ApprovalBy)
                </dd>

            </dl>
        </div>
        <p>
            @if (!FPT_OnlineService.DAL.UserInfo.Username.Equals(null))
            {
                if (FPT_OnlineService.DAL.UserInfo.Role.Equals("Student"))
                {
                    @Html.ActionLink("Edit", "Edit", "Forms", new { id = Model.FormID }) @:&nbsp;
                    @Html.ActionLink("Back to List", "Index", "Student")
                }
                else if (FPT_OnlineService.DAL.UserInfo.Role.Contains("Staff"))
                {

                    if (!Model.Form.Status.Equals("Approved"))
                    {

                        if (!Model.Form.Status.Equals("Rejected"))
                        {
                            <div class="form-horizontal">
                                <hr />
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                    @Html.LabelFor(model => model.ProcessedBy, htmlAttributes: new { @class = "control-label col-md-2 required" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.ProcessedBy, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.ToDepartment, htmlAttributes: new { @class = "control-label col-md-2 required" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.ToDepartment, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.ReceivedBy, htmlAttributes: new { @class = "control-label col-md-2 required" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.ReceivedBy, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.Label("Comment / Note", htmlAttributes: new { @class = "control-label col-md-2 required" })
                                    <div class="col-md-10">
                                        <input type="text" class="form-control" name="formComment" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.ApprovalReason, htmlAttributes: new { @class = "control-label col-md-2 required" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.ApprovalReason, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.Label("Approve/Reject :", htmlAttributes: new { @class = "control-label col-md-2 required" })
                                    <div class="col-md-10">
                                        <select class="form-control" name="FormStatus">
                                            <option value="">--- Select ---</option>
                                            <option value="Rejected">Reject</option>
                                            <option value="Approved">Approve</option>
                                        </select>
                                    </div>
                                </div>
                                <div id="openModal" class="modalDialog">
                                    <div class="active dropdown">
                                        <a href="#close" title="Close" class="close">X</a>
                                        <div class="form-group">
                                            @Html.Label("Forward to: ", htmlAttributes: new { @class = "control-label col-md-2 required" })
                                            <div class="col-md-10">
                                                <select class="form-control" name="ForwardTo">
                                                    <option value="">--- Select ---</option>
                                                    <option value="7">Academic Staff</option>
                                                    <option value="4">Head of Academic Department</option>
                                                    <option value="5">Academic Head</option>
                                                    <option value="6">Campus Director</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-offset-2 col-md-10">
                                                <input type="submit" value="Endorse" class="btn btn-default" />
                                                <a href="#openModal" class="btn btn-default">Forward</a> 
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Endorse" class="btn btn-default" />
                                    <a href="#openModal" class="btn btn-default">Forward</a> 
                                </div>
                            </div>
                        }
                    }
                }
            }
        </p>
        @Html.ActionLink("Back to List", "Index", "Staff")
    }
</body>
</html>
