@model FPT_OnlineService.Models.SuspendSemesterForm

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    @using(Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div>
        <h4>Suspend Semester Form</h4>
        <hr />
        <dl class="dl-horizontal">            
            @Html.HiddenFor(model => model.FormID)
            <dt>
                @Html.DisplayNameFor(model => model.Form.Type)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Form.Type)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.StudentPhone)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.StudentPhone)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SemesterSeason)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SemesterSeason)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SemesterYear)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SemesterYear)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TuitionFee)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TuitionFee)
            </dd>


            <dt>
                @Html.DisplayNameFor(model => model.PreviousSemester)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PreviousSemester)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TwoPrevSemester)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TwoPrevSemester)
            </dd>
        </dl>
    </div>
    <p>
        @if (!FPT_OnlineService.DAL.UserInfo.Username.Equals(null))
        {
            if (FPT_OnlineService.DAL.UserInfo.Role.Equals("Student"))
            {
                @Html.ActionLink("Edit", "Edit","Forms", new { id = Model.FormID }) @:&nbsp;
                @Html.ActionLink("Back to List", "Index", "Student")
            }
            else if (FPT_OnlineService.DAL.UserInfo.Role.Contains("Staff"))
            {

                    <div class="form-horizontal">
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.Label("Tuition fee complete :", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <input type="checkbox" name="TuitionFee" class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label("Submitted A week before :", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <input type="checkbox" name="isWeekBefore" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.PreviousSemester, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <select class="form-control" id="PreviousSemester" name="PreviousSemester">
                                    <option></option>
                                    <option value="Studied">Studied</option>
                                    <option value="Drop Out">Dropped Out</option>
                                    <option value="Suspended">Suspended</option>
                                    <option value="Retake">Retake</option>
                                </select>
                                @Html.ValidationMessageFor(model => model.PreviousSemester, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.TwoPrevSemester, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <select class="form-control" id="TwoPrevSemester" name="TwoPrevSemester">
                                    <option></option>
                                    <option value="Studied">Studied</option>
                                    <option value="Drop Out">Droped Out</option>
                                    <option value="Suspended">Suspended</option>
                                    <option value="Retake">Retake</option>
                                </select>
                                @Html.ValidationMessageFor(model => model.TwoPrevSemester, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label( "Approve/Reject :", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <select class="form-control" id="FormStatus" name="FormStatus">
                                    <option></option>
                                    <option value="Rejected">Reject</option>
                                    <option value="Approved">Approve</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Endorse" class="btn btn-default" />
                        </div>
                    </div>
                @Html.ActionLink("Forward", "Forward", "Staff", new { id = Model.FormID }) @:&nbsp;
                @Html.ActionLink("Reject", "Reject", "Staff", new { id = Model.FormID }) @:&nbsp;
                @Html.ActionLink("Approve", "Approve", "Staff", new { id = Model.FormID }) @:&nbsp;
                @Html.ActionLink("Back to List", "Index", "Staff")
            }
        }
</p>
    }
</body>
</html>
