@model FPT_OnlineService.Models.RequestForm

@{
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>RequestForm</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayName("Student Name: ")
            </dt>

            <dd>
                @Html.DisplayName(FPT_OnlineService.DAL.UserInfo.Name)
            </dd>


            <dt>
                @Html.DisplayName("Student RollNo: ")
            </dt>

            <dd>
                @Html.DisplayName(FPT_OnlineService.DAL.UserInfo.Username)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Form.Type)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Form.Type)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.RequestTitle)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.RequestTitle)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.StudentPhone)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.StudentPhone)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Class)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Class)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.FormID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
